[submodule "multimodal_emg_repo"]
	path = multimodal_emg_repo
	url = https://github.com/hahnec/multimodal_emg_private
[submodule "simle_tracker_repo"]
	path = simle_tracker_repo
	url = https://github.com/hahnec/simple_tracker/
