[submodule "multimodal_emg_repo"]
	path = multimodal_emg_repo
	url = https://github.com/hahnec/multimodal_emg_private
[submodule "simple_tracker_repo"]
	path = simple_tracker_repo
	url = https://github.com/hahnec/simple_tracker/
